<!DOCTYPE HTML>
{% load static %}
<!--
	felix
-->
<html>
<head>
    <title>Home | Lokahi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{%  static 'css/main.css' %}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
</head>
	<body>
		<!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
            <header id="header">
                <h1><a href="{% url 'home' %}">Lokahi Fintech Crowdfunding</a></h1>
                <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span>Menu</span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a href="{% url 'sm_panel' %}">Site Manager</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                                    <li><a href="{% url 'groups' %}">Groups</a></li>
                                    <li><a href="{% url 'viewReport' %}">View Reports</a></li>
                                    <li><a href="{% url 'search' %}">Advanced Search</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

        <!-- Main -->
            <article id="main">
                <header style="background-image: url('{% static "images/banner2.jpg"%}')">
                    <div style="float:left; padding-left:150px;">
                        <h2>Welcome, {{ user.get_username }}</h2>
                        {% if user.siteuser.usertype == "i" %}
                            <p>Investor User</p>
                        {% endif %}
                        {% if user.siteuser.usertype == "c" %}
                            <p>Company User</p>
                        {% endif %}
                        {% if user.is_superuser %}
                            <p>SITE MANAGER</p>
                        {% endif %}
                        {% if newCount > 0 %}
                            <a href="{% url 'inbox' %}"><font color="red">YOU HAVE {{ newCount }} NEW MESSAGE(S)!</font></a>
                        {% endif %}
                    </div>
                    <div style="width: 40%; height: 280px; overflow-y: auto; display: inline-block; background-color: rgba(0,0,0,0.4); font-size: 12px;">
                        <h2>News Feed</h2>
                        {% for story in stories reversed %}
                            <p>{{ story.get_time_diff}}: {{story.content}}</p>
                        {% endfor %}
                    </div>
                </header>
                <!--<section class="wrapper style5">
                    <div class="inner">

                        <section>
                            # MAIN BODY
                        </section>
                    </div>

                </section>-->
            </article>
        <!--<br/><br/>
                {% for message in messages reversed %}
                    <center>{{ message.message_from }} sent you a message</center>
                {% endfor %}

        <br /><br/>
        <center> <h2>News Feed</h2></center>
                {% for story in stories reversed %}
                    <center> {{story.get_time_diff}}: {{story.content}} <br /> <br /> </center>
                {% endfor %}-->

    </div>
    		<!-- Scripts -->
			<!--<script src="static/js/jquery.min.js"></script>-->
            <script src = "{%  static 'js/jquery.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrollex.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrollex.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrolly.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrolly.min.js' %}"></script>
			<!--<script src="static/js/skel.min.js"></script>-->
            <script src = "{%  static 'js/skel.min.js' %}"></script>
			<!--<script src="static/js/util.js"></script>-->
            <script src = "{%  static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="static/js/main.js"></script>-->
            <script src = "{%  static 'js/main.js' %}"></script>

	</body>
</html>
