<!DOCTYPE HTML>
{% load static %}
<!--
	felix
-->
<html>
<head>
    <title>New Report | Lokahi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{%  static 'css/main.css' %}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
</head>
	<body>
		<!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
            <header id="header">
                <h1><a href="{% url 'home' %}">Lokahi</a></h1>
                <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span>Menu</span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a href="{% url 'sm_panel' %}">Site Manager</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                                    <li><a href="{% url 'groups' %}">Groups</a></li>
                                    <li><a href="{% url 'viewReport' %}">View Reports</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

        <!-- Main -->
            <article id="main">
                <section class="wrapper style5">
                    <div class="inner">

                        <section>
                            <h2>NEW REPORT</h2>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <br>
                                <br>
                                <button class="button special" value="submit">Create Report</button>
                            </form>


                            <a href="{% url 'viewReport' %}" class="button">Back to Reports</a>

                        </section>
                    </div>

                </section>
            </article>

    </div>
    		<!-- Scripts -->
			<!--<script src="static/js/jquery.min.js"></script>-->
            <script src = "{%  static 'js/jquery.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrollex.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrollex.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrolly.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrolly.min.js' %}"></script>
			<!--<script src="static/js/skel.min.js"></script>-->
            <script src = "{%  static 'js/skel.min.js' %}"></script>
			<!--<script src="static/js/util.js"></script>-->
            <script src = "{%  static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="static/js/main.js"></script>-->
            <script src = "{%  static 'js/main.js' %}"></script>

            <script>
                function getName() {
                    $('#file-name').innerHTML = $('#id_content').val(input.files[0].name);
                }
            </script>

	</body>
</html>

