<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>New Report</title>
    <link rel="Stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
      <h1>{% block title %}New report{% endblock %}</h1>

    {% block body_block %}
  </head>
      <div class="page-header">

      </div>
	
      <form id="form" method="post" action="/newsletter/new_report/">
	{% csrf_token %}
	{% for field in form %}
	   {{ field.errors }}
	   {{ field.help_text }}
	{{ field }}
	<br>
	{% endfor %}
	<input type="submit" name="submit" value="Create a report" />

      </form>
      {% endblock %}

</html>
