<!DOCTYPE HTML>
{% load static %}
<!--
	felix
-->
<html>
<head>
    <title>{{report.projects}} | Lokahi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{%  static 'css/main.css' %}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
</head>
	<body>
		<!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
            <header id="header">
                <h1><a href="{% url 'home' %}">Lokahi</a></h1>
                <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span>Menu</span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a href="{% url 'sm_panel' %}">Site Manager</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                                    <li><a href="{% url 'groups' %}">Groups</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

        <!-- Main -->
            <article id="main">
                <section class="wrapper style5">
                    <div class="inner">


                            <h2>{{report.projects}} by {{report.owner}}</h2>

                            <div>
                                <span  ><font size="5" style="vertical-align:middle;">Company Name:</font></span>
                                <span style="font-size:1/2em; vertical-align:middle;">{{report.company_name}}</span>
                            </div>
                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Company Phone:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;">{{report.company_Phone}}</span>
                                </div>
                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Company Location:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;">{{report.company_location}}</span>
                                </div>
                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Company Country:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;">{{report.company_country}}</span>
                                </div>
                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Sector:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;">{{report.sector}}</span>
                                </div>
                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Created at:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;"> {{report.timestamp}} </span>
                                </div>

                            <div>
                                    <span  ><font size="5" style="vertical-align:middle;">Industry:</font></span>
                                    <span style="font-size:1/2em; vertical-align:middle;"> {{report.timestamp}} </span>
                                </div>
                                <br></br>


                            {% for f in report.content.all %}
                                {% if report.is_encrypted == 'Y'%}
                                    <p>[encrypted file]</p>
                                {% else %}
                                    <a href="{{f.file.url}}" target="_blank">{{f.file.name}}</a>
                                    <br>
                                {% endif %}
                            {% endfor %}

                            <br></br>

                            <h3> Add a file to this report</h3>
                            <form method="post">
                                {% csrf_token %}
                                <input id="browse-click" type="file" class="button" >
                                <!--<button class="button special" name="submit" value="add"></button>-->
                            </form>

                            <form method="post">
                                {% csrf_token %}

                                <button class="button special" name="submit" value="back">Return to Reports</button>
                            </form>
                        </section>
                    </div>

                </section>
            </article>

    </div>
    		<!-- Scripts -->
			<!--<script src="static/js/jquery.min.js"></script>-->
            <script src = "{%  static 'js/jquery.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrollex.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrollex.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrolly.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrolly.min.js' %}"></script>
			<!--<script src="static/js/skel.min.js"></script>-->
            <script src = "{%  static 'js/skel.min.js' %}"></script>
			<!--<script src="static/js/util.js"></script>-->
            <script src = "{%  static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="static/js/main.js"></script>-->
            <script src = "{%  static 'js/main.js' %}"></script>

	</body>
</html>