<!DOCTYPE HTML>
{% load static %}
<!--
	felix
-->
<html>
<head>
    <title>{{report.projects}} | Lokahi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{%  static 'css/main.css' %}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
</head>
	<body>
		<!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
            <header id="header">
                <h1><a href="{% url 'home' %}">Lokahi</a></h1>
                <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span>Menu</span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a href="{% url 'sm_panel' %}">Site Manager</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'inbox' %}">Inbox</a></li>
                                    <li><a href="{% url 'groups' %}">Groups</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

        <!-- Main -->
            <article id="main">
                <section class="wrapper style5">
                    <div class="inner">
                        <h2>"{{report.projects}}"</h2>
                        <table>
                            <tr>
                                <th>Owner:</th>
                                <td>{{ report.owner }}</td>
                            </tr>
                            <tr>
                                <th>Company Name:</th>
                                <td>{{ report.company_name }}</td>
                            </tr>
                            <tr>
                                <th>Company Phone:</th>
                                <td>{{ report.company_Phone }}</td>
                            </tr>
                            <tr>
                                <th>Company Location:</th>
                                <td>{{ report.company_location }}</td>
                            </tr>
                            <tr>
                                <th>Company Country:</th>
                                <td>{{ report.company_country }}</td>
                            </tr>
                            <tr>
                                <th>Sector:</th>
                                <td>{{  report.sector }}</td>
                            </tr>
                            <tr>
                                <th>CEO Name:</th>
                                <td>{{  report.ceo_name }}</td>
                            </tr>
                            <tr>
                                <th>Industry:</th>
                                <td>{{  report.industry }}</td>
                            </tr>
                            <tr>
                                <th>Created At:</th>
                                <td>{{ report.timestamp }}</td>
                            </tr>
                        </table>

                        <h4>Files Attached to Report</h4>
                        {% for f in report.content.all %}
                            {% if report.is_encrypted == 'Y'%}
                                <p>[encrypted file]</p>
                            {% else %}
                                <a href="{{f.file.url}}" target="_blank">{{f.file.name}}</a>
                                <br>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <br>
                        <h5> Add Additional Files to Report</h5>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button name="submit" class="button special" value="submit">Add Files</button>
                        </form>
                        <br>
                        <a href="{% url 'viewReport' %}" class="button">Back to Reports</a>

                    </div>
                </section>
            </article>

    </div>
    		<!-- Scripts -->
			<!--<script src="static/js/jquery.min.js"></script>-->
            <script src = "{%  static 'js/jquery.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrollex.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrollex.min.js' %}"></script>
			<!--<script src="static/js/jquery.scrolly.min.js"></script>-->
            <script src = "{%  static 'js/jquery.scrolly.min.js' %}"></script>
			<!--<script src="static/js/skel.min.js"></script>-->
            <script src = "{%  static 'js/skel.min.js' %}"></script>
			<!--<script src="static/js/util.js"></script>-->
            <script src = "{%  static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="static/js/main.js"></script>-->
            <script src = "{%  static 'js/main.js' %}"></script>

	</body>
</html>